# LangChain + LangGraph
langchain
langgraph
langchain-core
langchain-community

# LLM Providers
langchain-openai
langchain-groq
langchain-mistralai
langchain-ollama
openai>=2.45

# Environment Variables
python-dotenv

# Data Validation
pydantic

# API
fastapi[standard]
uvicorn

# Security
pycryptodome

# Qdrant
qdrant-client

# Mongo
pymongo
sentence-transformers














fastapi
uvicorn
python-dotenv
pydantic
langchain
langgraph
qdrant-client
requests>=2.31
pymongo
pytest
langgraph
langchain_groq