
langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-mistralai

qdrant-client

sentence-transformers
transformers
torch

pydantic

fastapi
uvicorn

python-dotenv
pycryptodome

numpy
pandas

tiktoken

aiofiles

httpx

typing-extensions

motor
